body {
  cursor: crosshair;
  margin: 0px;
  padding: 0px;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}



.big-container {
  z-index: 0;
  position: inline-block;
  width: 10000px;
}
/*

/* image 1  and 2 */

/* #zoom_triggers {
  color: white;
  position: fixed;
} */

/* row 1 */
.one {
  top: 0;
  left: 0;
  float: left;
}

.two {
  top: 0;
  float: left;
}

.three {
  top: 0;
  float: left;
}

.four {
  top: 0;
  float: left;
}

.five {
  top: 0;
  float: left;
}


/* row 2 */
.one_a {
  float: left;
}

.two_a {
  float: left;
}

.three_a {
  float: left;
}

.four_a {
  float: left;
}

.five_a {
  float: left;
}


/* row 3 */
.one_b {
  float: left;
}

.two_b {
  float: left;
}

.three_b {
  float: left;
}

.four_b {
  float: left;
}

.five_b {
  float: left;
}


/* row 4 */
.one_c {
  float: left;
}

.two_c {
  float: left;
}

.three_c {
  float: left;
}

.four_c {
  float: left;
}

.five_c {
  float: left;
}


/* row 5 */
.one_d {
  float: left;
}

.two_d {
  float: left;
}

.three_d {
  float: left;
}

.four_d {
  float: left;
}

.five_d {
  float: left;
}

/* icons */
.icon{
  opacity: 0;
  z-index: 2;
}

.icon:hover{
  opacity: 1;
}

#video_icon {
  position: absolute;
  width: 563px;
  top: 6456px;
  left: 3921px;
}

#icon1 {
  position: absolute;
  width: 208px;
  top: 6589px;
  left: 4704px;
}

#icon2 {
  position: absolute;
  width: 294px;
  top: 6829px;
  left: 5067px;
}

#icon3 {
  position: absolute;
  width: 160px;
  top: 6300px;
  left: 5413px;
}

#icon4 {
  position: absolute;
  width: 255px;
  top: 5924px;
  left: 4898px;
}

#icon5 {
  position: absolute;
  width: 208px;
  top: 5885px;
  left: 4292px;
}

#icon6 {
  position: absolute;
  width: 347px;
  top: 5893px;
  left: 3575px;
}
