#gallery {
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

body {
  overflow-y:overlay;
}

/* body::-webkit-scrollbar-track-piece:start {
    background: transparent url('Transparency100.png') repeat-y !important;
}

body::-webkit-scrollbar-track-piece:end {
    background: transparent url('Transparency100.png') repeat-y !important;
} */

body::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: rgba(0,0,0,0);
}

body::-webkit-scrollbar-thumb {
  background: transparent url('scrollbar.png') repeat-y !important;
}

#home {
  position: fixed;
  z-index: 2;
  width: 60px;
  left: 100px;
  top: 70px;
}
