body {
  cursor: crosshair;
  margin: 0px;
  padding: 0px;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}



.big-container {
  z-index: 0;
  position: inline-block;
  width: 5000px;
}
/*

/* image 1  and 2 */

/* #zoom_triggers {
  color: white;
  position: fixed;
} */

/* row 1 */
.one {
  width: 1000px;
  top: 0;
  left: 0;
  float: left;
}

.two {
  width: 1000px;
  top: 0;
  float: left;
}

.three {
  width: 1000px;
  top: 0;
  float: left;
}

.four {
  width: 1000px;
  top: 0;
  float: left;
}

.five {
  width: 1000px;
  top: 0;
  float: left;
}


/* row 2 */
.one_a {
  width: 1000px;
  float: left;
}

.two_a {
  width: 1000px;
  float: left;
}

.three_a {
  width: 1000px;
  float: left;
}

.four_a {
  width: 1000px;
  float: left;
}

.five_a {
  width: 1000px;
  float: left;
}


/* row 3 */
.one_b {
  width: 1000px;
  float: left;
}

.two_b {
  width: 1000px;
  float: left;
}

.three_b {
  width: 1000px;
  float: left;
}

.four_b {
  width: 1000px;
  float: left;
}

.five_b {
  width: 1000px;
  float: left;
}


/* row 4 */
.one_c {
  width: 1000px;
  float: left;
}

.two_c {
  width: 1000px;
  float: left;
}

.three_c {
  width: 1000px;
  float: left;
}

.four_c {
  width: 1000px;
  float: left;
}

.five_c {
  width: 1000px;
  float: left;
}


/* row 5 */
.one_d {
  width: 1000px;
  float: left;
}

.two_d {
  width: 1000px;
  float: left;
}

.three_d {
  width: 1000px;
  float: left;
}

.four_d {
  width: 1000px;
  float: left;
}

.five_d {
  width: 1000px;
  float: left;
}

/* icons */
.icon{
  opacity: 0;
  z-index: 2;
}

.icon:hover{
  opacity: 1;
}

#video_icon {
  position: absolute;
  width: 281.5px;
  top: 3228px;
  left: 1960.5px;
}

#icon1 {
  position: absolute;
  width: 104px;
  top: 3294.5px;
  left: 2352px;
}

#icon2 {
  position: absolute;
  width: 147px;
  top: 3414.5px;
  left: 2548.5px;
}

#icon3 {
  position: absolute;
  width: 80px;
  top: 3150px;
  left: 2706.5px;
}

#icon4 {
  position: absolute;
  width: 127.5px;
  top: 2962px;
  left: 2449px;
}

#icon5 {
  position: absolute;
  width: 104px;
  top: 2942.5px;
  left: 2146px;
}

#icon6 {
  position: absolute;
  width: 173.5px;
  top: 2946.5px;
  left: 1787.5px;
}

/* video */

video#watchMe {
  display: none;
  z-index: 9999;
  position:fixed;
  height: 100%;
  left:4%;
  top:0;
}
